<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<title>Shopify World</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'templatedata/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'templatedata/css/util.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'templatedata/vendor/noui/nouislider.min.css' %}">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'templatedata/images/icons/favicon.png'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'templatedata/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'templatedata/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'templatedata/fonts/themify/themify-icons.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'templatedata/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'templatedata/fonts/elegant-font/html-css/style.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'templatedata/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'templatedata/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'templatedata/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'templatedata/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'templatedata/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'templatedata/vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'templatedata/vendor/lightbox2/css/lightbox.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'templatedata/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'templatedata/css/main.css' %}">

</head>
<body class="animsition">
{% include 'partials/_header.html' %}

{% block content %}

{% endblock %}
{% include 'partials/_footer.html' %}
</body>
</html>