<footer style="background-color: black;margin-top: 20px">
    <div class="row">
        <div class="container-fluid" style="padding-top: 10px">
        <h4 class="text-center"><a href=""><p style="color: lightslategrey">Back To Top</p></a></h4>
            <hr style="border-top: 1px solid lightslategrey">
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-3" style="padding-top: 25px;padding-bottom: 25px">
                <h4 style="color: lightgray">About</h4>
                <hr style="border-top: 1px solid red">
                <a class="text-muted" href="">Contact Us</a><br>
                <a  class="text-muted" href="">About Us</a><br>
                <a  class="text-muted" href="">Careers</a><br>
                <a  class="text-muted" href="">Press</a>

            </div>
            <div class="col-md-3" style="padding-top: 25px;padding-bottom: 25px">
                <h4 style="color: lightgray">Help</h4>
                <hr style="border-top: 1px solid yellow">
                <a  class="text-muted" href="">Payments</a><br>
                <a  class="text-muted" href="">Shipping</a><br>
                <a  class="text-muted" href="">Cancellation & Returns</a><br>
                <a  class="text-muted" href="">FAQ</a><br>
                <a  class="text-muted" href="">Report infringement</a><br>

            </div>
            <div class="col-md-3" style="padding-top: 25px;padding-bottom: 25px">
                <h4 style="color: lightgray">Policy</h4>
                <hr style="border-top: 1px solid green">
                <a  class="text-muted" href="">Return Policy</a><br>
                <a  class="text-muted" href="">Terms Of Use</a><br>
                <a  class="text-muted" href="">Security</a><br>
                <a  class="text-muted" href="">Privacy</a><br>
                <a  class="text-muted" href="">Sitemap</a><br>
                <a  class="text-muted" href="">EPR Compliance</a><br>

            </div>
            <div class="col-md-3" style="padding-top: 25px;padding-bottom: 25px">
                <h4 style="color: lightgray">Social</h4>
                <hr style="border-top: 1px solid blue">
                <a  class="text-muted" href="">Facebook</a><br>
                <a  class="text-muted" href="">Instagram</a><br>
                <a  class="text-muted" href="">Twitter</a>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 10px">
        <div class="container-fluid">
            <p class="text-center text-muted"><strong>&copy 2018-21 Shopify World | Made With <span style="color: darkred" class="glyphicon glyphicon-heart"></span> in India</strong></p>
        </div>
    </div>
</footer>