 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Shopify World</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="view-allproducts">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="user-signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a class="btn" onclick="loginnav()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a href="my-cart"><span class="glyphicon glyphicon-shopping-cart"></span> My Cart</a></li>
    </ul>

  </div>
</nav>
 <div id="navlogin" style="background-color: #0f0f0f">
 </div>
